*{
    padding: 0px;
    margin: 0px;
    width: 100%;
}

body{
 background: url(./image/pexels-suzy-hazelwood-1629236.jpg);
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

}

h1{
    width: 50%;
    padding: 20px;
    margin: 20px;
    background-color: grey;
    background-blend-mode: lighten;
    display: flex;
    justify-content: center;
    color: black;
    border-radius: 5px;
    
}
.buttons{
  
    display: flex;
    flex-direction: row;
    flex-wrap: space-around;
}

button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
    background: transparent;
    border: solid 6px white;
    border-radius: 4px;
    padding: 50px;
    margin: 50px;
}

button:hover{
    box-shadow: 5px 5px black;
}

.playing{
    transition: .5s;
    border: 5px solid yellow;
    border-radius: 5px;
}